/* PALETA DE COLORES
#164863 AZUL
#427D9D CELESTE
#9BBEC8 GRIS
#DDF2FD CREMA */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100&display=swap');
/* font-family: 'Albert Sans', sans-serif; */

body{
    font-family: 'Albert Sans', sans-serif;
    background-color:aliceblue;
}

*{
    margin: 0;
    padding: 0;
}


/* ------------------------------------------------- INDEX -----------------------------------------------------*/

/* ------------------------------------------------- HEADER ----------------------------------------------------*/

header{
    background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

.logo{
    width: 200px;
    height: 150px;
}

nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: #164863;
    text-decoration: none;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*--------------------------------------------------- BANNER ----------------------------------------------------------*/

.padre-banner{
    background-image: url(../images/banner\ 5.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* .div-banner{
    padding: 200px 0px;
} */

.banner-h1{
    color: whitesmoke;
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-shadow: 1px -1px 25px rgb(0, 0, 0)
}

.banner-p{
    color: #164863;
    font-size: xx-large;
    background-color: #f5f5dc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*-------------------------------------------------- PRESENTACION --------------------------------------------------*/

.titutlo-h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo-presentacion-imagenes-casas{
    color: white;
    width: 40%;
    text-align: center;
    text-decoration: none;
    margin-top: 70px;
    margin-bottom: 10px;
    background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    font-size: 3rem;
}
    
/* ! VERIFICAR SU PROCEDENCIA */
/* .texto-imagenes{
    color: #427D9D;
    text-transform: uppercase;

}

.nosotros{
    text-align: center;
    color: #427D9D;
} */

.padre-destacadas{
    display: grid;
    grid-template-areas: 
    "propiedad1 propiedad2 propiedad3"
    "propiedad4 propiedad5 propiedad6";
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 400px);
    gap: 200px;
    row-gap: 200px;
    justify-content: center;
    margin-top: 80px;
    margin-right: 80px;
    margin-bottom: 0;
}

.propiedad1{
    grid-area: propiedad1;
}

.propiedad2{
    grid-area: propiedad2;
}

.propiedad3{
    grid-area: propiedad3;
}

.propiedad4{
    grid-area: propiedad4;
}

.propiedad5{
    grid-area: propiedad5;
}

.propiedad6{
    grid-area: propiedad6;
}

.img-destacada{
    width: 400px;
    border-radius: 5px;
    grid-column: 1;
}

.data{
    background-color: #DDF2FD;
    width: 400px;
    height: 280px;
    border: solid #9BBEC8;
}

.direccion{
    font-size: small;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
}

.prop-titulo{
    font-size: large;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.adress{
    font-size: smaller;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
}

.casa-descripccion{
    font-size: medium;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5px;
    margin-top: 10px;
}

/* --------------------------------------------- PRE - FOOTER ----------------------------------------------------- */
.empresa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.pre-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 200px;
}

.ubicación{
    width: 400px;
    height: 200px;
    border-right: black solid 2px;
    align-items: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: end;
    font-size: 2rem;
}

.BA{
    font-size: 2rem;
}

.atencion{
    width: 550px;
    height: 200px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    font-size: 2rem;
}

/* --------------------------------------------------FOOTER----------------------------------------------------------- */

footer{
    margin-top: 100px;
    background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

footer img{
    width: 50px;
    margin-top: 30px;
}

.footer-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/*-------------------------------------------PROPIEDADES---------------------------------------------------------------*/

.h1-propiedades{
    color: #164863;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #164863;
    font-size: xx-large;
    background-color: beige;
}

.p-slogan{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.div-alquiler1, .div-alquiler2, .div-alquiler3, .div-alquiler4{
    background-color: #DDF2FD;
    height: 470px;
    width: 420px;
    background-size: contain;
    border-radius: 30px;
}

.div-venta1, .div-venta2, .div-venta3, .div-venta4{
    background-color: #DDF2FD;
    height: 470px;
    width: 420px;
    background-size: contain;
    border-radius: 30px;
}

/* ------------------------- ALQUILER -------------------------*/

.casas-alquiler{
    display: grid;
    grid-template-areas: 
    "div-alquiler1 div-alquiler2"
    "div-alquiler3 div-alquiler4";
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    gap: 80px;
    row-gap: 100px;
    justify-content: center;
}

.div-alquiler1{
    grid-area: div-alquiler1;
}

.div-alquiler2{
    grid-area: div-alquiler2;
}

.div-alquiler3{
    grid-area: div-alquiler3;
}

.div-alquiler4{
    grid-area: div-alquiler4;
}

.img-alquiler{
    border-radius: 30px;
    width: 400px;
    height: 400px;
    margin-left: 10px;
}

.padre-alquileres{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.titulo-alquileres{
    color: #FFFF;
    background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}

.titulo-alquileres:hover{
    text-decoration: underline;
    color: #427D9D;
}

/* ---------------------- VENTA --------------------- */

.casas-venta{
    display: grid;
    grid-template-areas: 
    "div-venta1 div-venta2"
    "div-venta3 div-venta4";
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    gap: 80px;
    row-gap: 100px;
    justify-content: center;
}

.div-venta1{
    grid-area: div-venta1;
}

.div-venta2{
    grid-area: div-venta2;
}

.div-venta3{
    grid-area: div-venta3;
}

.div-venta4{
    grid-area: div-venta4;
}

.img-venta{
    border-radius: 30px;
    width: 400px;
    height: 400px;
    margin-left: 10px;
}

.padre-ventas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo-ventas{
    color: #FFFF;
    background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}

.titulo-ventas:hover{
    text-decoration: underline;
    color: #427D9D;
}

.texto-imagenes{
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    text-align: center;
    color: black solid;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}



/* --------------------------------------------- CONTACTO ----------------------------------------------- */

/* ------------------ FORMULARIO ----------------*/

.padre-contactanos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h2-contacto{
    align-items: center;
    color: #FFFF;
    background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.h2-contacto:hover{
    text-decoration: underline;
    color: #427D9D;
}

.padre-p-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p-contacto{
    margin-bottom: 50px;
    color: #FFFF;
    background-color:dimgray;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: xx-large;
}

.formulario{
    width: 400px;
    background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;;
}

.formulario h3{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 93%;
    background:  #164863;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #9BBEC8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}


.boton{
    width: 98%;
    background: #427D9D;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.boton:hover{
    border: 1px solid white;
}

/* ------------------------------------------------- EMPRENDIMIENTOS ----------------------------------------------*/

.padre-emprendimientos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h2-emprendimientos{
    color: #FFFF;
    background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.h2-emprendimientos:hover{
    text-decoration: underline;
    color: #427D9D;
}

.padre_emprendedor{
    display: grid;
    grid-template-areas: 
    "propiedad-emprendimiento1 propiedad-emprendimiento2 propiedad-emprendimiento3"
    "propiedad-emprendimiento4 propiedad-emprendimiento5 propiedad-emprendimiento6";
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 200px;
    row-gap: 500px;
    justify-content: center;
}

.propiedad-emprendimiento1{
    grid-area: propiedad-emprendimiento1;
}

.propiedad-emprendimiento2{
    grid-area: propiedad-emprendimiento2;
}

.propiedad-emprendimiento3{
    grid-area: propiedad-emprendimiento3;
}

.propiedad-emprendimiento4{
    grid-area: propiedad-emprendimiento4;
}

.propiedad-emprendimiento5{
    grid-area: propiedad-emprendimiento5;
}

.propiedad-emprendimiento6{
    grid-area: propiedad-emprendimiento6;
}

.img-prop{
    width: 300px;
    height: 400px;
    margin-left: 10px;
    border-radius: 30px;
}

.propiedad-emprendimiento1, .propiedad-emprendimiento2, .propiedad-emprendimiento3, .propiedad-emprendimiento4, .propiedad-emprendimiento5, .propiedad-emprendimiento6{
    background-color: #DDF2FD;
    height: 630px;
    width: 320px;
    background-size: contain;
    border-radius: 30px;
}

/* ------------------------------------------------ NOSOTROS ---------------------------------------------------------- */

.padre-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.padre-mision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mision{
    background: #164863;
    border-radius: 5px;
}

.padre-vision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vision{
    background: #5587a3;
    border-radius: 5px;
    height: 200px;
    text-align: center;
    width: 61%;
    margin-top: 50px;
}

.padre-valores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valores{
    background: #f5f5dc;
    border-radius: 5px;
    height: 500px;
    text-align: center;
    width: 61%;
    margin-top: 50px;
}

.nosotros{
    color: white;
    font-size: 2rem;
    background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 10px 20px #000;
}

.nosotros:hover{
    text-decoration: underline;
    color: #427D9D;
}

.h3-nosotros{
    color: black;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
}

.descripccion{
    color: black;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.list{
    color: black;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}
    
/** ---------------------  -------- MEDIA QEURIES -------- ---------------------------- **/

@media screen and (max-width: 480px) {

    *{
        margin: 0;
        padding: 0;
    }

    /* INDEX ------------------------------------------------------------------------------------------ */

    header{
        width: 100%;
        flex-direction: column;
    }

    header ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header a{
        color: #FFFF;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-small;
    }

    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .banner-h1{
        color: whitesmoke;
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: underline;
        text-shadow: 1px -1px 25px rgb(0, 0, 0)
    }
    
    .banner-p{
        color: #164863;
        font-size: large;
        background-color: #f5f5dc;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .titutlo-h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .titulo-presentacion-imagenes-casas{
        color: white;
        width: 50%;
        text-align: center;
        text-decoration: none;
        margin: 50px 0;
        background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 5px;
        font-size: 1.5rem;
    }

    .padre-destacadas{
        grid-template-areas: 
        "propiedad1"
        "propiedad2"
        "propiedad3"
        "propiedad4"
        "propiedad5"
        "propiedad6";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 100px);
        row-gap: 500px;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
        margin-bottom: 250px;
        margin-left: 80px;
    }

    .empresa img{
        width: 250px;
    }
    .empresa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        margin-top: 50px;
    }

    .pre-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 200px;
        width: 100%;
    }

    .ubicación{
        width: 100%;
        height: 150px;
        border-left: none;
        border-bottom: black solid 2px;
        align-items: center;
        padding: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-align: start;
        font-size: 1rem;
    }
    
    .BA{
        font-size: 1.5rem;
    }
    
    .atencion{
        width: 100%;
        height: 100px;
        padding: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-align: start;
        font-size: large
    }

    /* PROPIEDADES ---------------------------------------------------------------------------------*/

    .casas-alquiler{
        grid-template-areas: 
        "div-alquiler1"
        "div-alquiler2"
        "div-alquiler3" 
        "div-alquiler4";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 300px);
        gap: 80px;
        row-gap: 200px;
        justify-content: end;
        margin-bottom: 100px;
        margin-left: 30px;
    }

    .casas-venta{
        grid-template-areas: 
        "div-venta1"
        "div-venta2"
        "div-venta3"
        "div-veta4";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 300px);
        gap: 80px;
        row-gap: 200px;
        justify-content: center;
        margin-bottom: 300px;
        margin-left: 30px;
    }

    /* -------------------------------------- EMPRENDIMIENTOS ----------------------------------------------- */

    .padre_emprendedor{
        grid-template-areas: 
        "propiedad-emprendimiento1" 
        "propiedad-emprendimiento2" 
        "propiedad-emprendimiento3"
        "propiedad-emprendimiento4" 
        "propiedad-emprendimiento5" 
        "propiedad-emprendimiento6";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px);
        gap: 200px;
        row-gap: 500px;
        justify-content: center;
        margin-bottom: 400px;
        margin-left: 80px;
    }
    
    /* --------------------------------------------NOSOTROS ----------------------------------------------------- */

    .nosotros{
        color: white;
        font-size: 1rem;
        background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
        padding: 20px;
        margin-top: 100px;
        margin-bottom: 50px;
        border-radius: 5px;
        font-family: 'Times New Roman', Times, serif;
        box-shadow: 5px 10px 20px #000;
        width: 80%;
    }

    .descripccion, .list{
        font-size: 1rem;
    }

    .mision{
        width: 70%;
    }

    .vision{
        height: 350px;
        width: 70%;
    }

    .valores{
        height: 700px;
        width: 70%;
    }

    /* -------------------------------------------- CONTACTANOS ------------------------------------------------- */

    .p-contacto{
        width: 80%;
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }

    .formulario{
        width: 300px;
        background: linear-gradient(125deg,#164863 30%, #f5f5dc 90%);
        padding: 30px;
        margin: auto;
        margin-top: 70px;
        border-radius: 4px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        box-shadow: 7px 13px 37px #000;;
    }






        
    
    
    
}   
